body {
    font-family: 'PT Mono', monospace;
    text-align: center;
    background-color: whitesmoke;
    vertical-align: middle;
    padding: 2.5rem;
    width: min(50em, 85%); 
    margin: 0 auto;
}

main {
    padding: 1em;
}

.question {
    color: #00445E;
    
    font-size: 1.8em;
    padding-top: 0em;
    padding-bottom: 1em;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
}