body {
    font-family: 'PT Mono', monospace;
    text-align: center;
    background-color: whitesmoke;
    vertical-align: middle;
    padding: 2.5rem;
    width: min(50em, 85%); 
    margin: 0 auto;
}

main {
    padding: 1em;
}

.question {
    color: #d33e41;
    
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
}

.title {
    font-family: 'Josefin Sans', sans-serif;
}